@font-face {
    font-family: 'open_sansregular';
    src: url('/resources/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'open_sansregular', sans-serif;
    color: black;
}

body {
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
		padding-bottom: 10vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    color: lightgray;
}

header h1, header h2{
    margin: 0px;
}

header p {
    font-size: large;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    margin-bottom: 7px;
}


h1, h2, h3, .author {
    color: #498FE6;
}

a {
    color: black;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #498FE6;
}

a:visited {
    color: black;
}

body.home {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.home > header {
    width: 200px;
    margin-right: 100px;
}

.home > main {
    width: 80%;
}

.home a {
    text-decoration: none;
}

.home a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #498FE6;
}

.home .blogs-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home ul {
    padding: 0px;
    list-style-type: none;
}

.home li {
    margin-left: 0px;
    margin-bottom: 7px;
    list-style-type: none;
}

body.blog {
    margin: 0 auto;
		max-width: 760px;
}

figure {
    text-align: center;
}

.blog .book-title {
    font-style: italic;
}

.blog .postscript {
    font-style: italic;
}

.blog code {
    background: lightgray;
}

@media only screen and (max-width: 800px) {
    body, body.main, body.blog {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    body.home {
        flex-direction: column;
    }

    .home > header {
        width: 100%;
    }

    .home header li {
        display: inline;
        margin-right: 10px;
    }

    .home .blogs-list li {
        flex-direction: column;
    }

}

