article {
  padding: 1em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 5% 0;
  text-align: center;
}

code {
  background: lightgray;
  display: inline-block;
}

figcaption {
  color: gray;
}

figcaption a {
  color: gray;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p:first-child {
  margin-top: 0px;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

.author {
  color: #498FE6;
}

.pubdate {
  margin-top: 5px;
  color: #498FE6;
}

.book-title, .postscript {
  font-style: italic;
}

aside {
  border: 2px dashed var(--blue-accent);
  background-color: rgba(73, 143, 230, .1);
  padding: 0 10px;
  margin: 0 10px;

  h2 {
    color: black;
  }
}

cite.article {
  font-style: normal;

  &:before {
    content: '“'
  }

  &:after {
    content: '”'
  }
}


