body {
  font-size: 18px;
  margin: 0 auto;
  max-width: 760px;
}

h1 {
  margin-bottom: 0;
}

figure {
  text-align: center;
}

code {
  background: lightgray;
}

figcaption {
  font-size: .9em;
  color: gray;
}

figcaption a {
  color: gray;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.author {
  color: #498FE6;
}

.pubdate {
  margin-top: 5px;
  color: #498FE6;
}

.book-title, .postscript {
  font-style: italic;
}

@media only screen and (max-width: 800px) {
  body {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

