:root {
  --blue-accent: #498FE6;
}

@font-face {
  font-family: valkyrie_a;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_a_regular.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_a;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_a_italic.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_a;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_a_bold.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_a;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_a_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_b;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_b_regular.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_b;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_b_italic.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_b;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_b_bold.woff2') format('woff2');
}

@font-face {
  font-family: valkyrie_b;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: auto;
  src: url('/resources/fonts/valkyrie/valkyrie_ot_b_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'open_sansregular';
  src: url('/resources/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('/resources/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-body: 18px;
}

/* Basic element styles */
html {
  color: #444;
  font-family: valkyrie_a, sans-serif;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  margin: 0 auto;
  max-width: 900px;
  line-height: 1.6;
  font-size: var(--font-size-body);
}

footer {
  padding: 0 1em;
}

main {
  padding: 0 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  color: lightgray;
}

header h1, header h2 {
  margin: 0px;
}

header p {
  font-size: large;
}

h1, h2, h3, .author {
  color: var(--blue-accent);
  line-height: 1.2;
}

a {
  color: black;
  text-decoration-color: var(--blue-accent);
}

a:visited {
  color: black;
}

/* Site header stlyes */
.site-head {
  padding: 1em 0;
}

.site-head .website-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
}

.site-head .website-title img {
  margin-right: 1em;
}

.site-head nav {
  background-color: var(--blue-accent);
  padding: 0 1em;
}

.site-head ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em;
  list-style: none;
}

.site-head li {
  color: white;
  margin-right: 1em;
}

.site-head a {
  color: white;
  text-decoration: none;
}

.site-head a:visited {
  color: white;
}

/* Styles for the places where I list blog posts */
.blog-list ul {
  padding-left: 15px;
}

.blog-date {
  color: darkgray;
}

@media only screen and (min-width: 900px) {
  .blog-list span {
    float: right;
  }
}


