body {
    display: flex;
    flex-direction: row;
    align-items: start;
}

body > header {
    width: 200px;
    margin-right: 100px;
}

body > main {
    width: 80%;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #498FE6;
}

body .blogs-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body ul {
    padding: 0px;
    list-style-type: none;
}

body li {
    margin-left: 0px;
    margin-bottom: 7px;
    list-style-type: none;
}

@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }

    body > header {
        width: 100%;
    }

    body header li {
        display: inline;
        margin-right: 10px;
    }

    body .blogs-list li {
        flex-direction: column;
    }

}
