main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: #498FE6;
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
}

.blog-date {
  color: darkgray;
}

.logo {
  height: 32px;
  width: 32px;
  margin: 5px;
}

.socials {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  margin-top: 60px;
}

@media only screen and (min-width: 800px) {
  .blog-list span {
    float: right;
  }

  .blog-list h3 {
    display: inline;
  }
}
